


body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vw;
  grid-gap: 0.5em;
}

header,
main,
aside,
footer {
  grid-column: 1 / span 2;
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

header,
aside,
footer {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

#book-list{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0.2em;
}

div.text{
  background-color: #f2f2f2;

}

div.image{
   display: flex;
  align-items: center;
  justify-content: center;
}



#mapid { height: 480px; }

.topnav {
  overflow: hidden;
  background-color: #333;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
